body , html{
	background: #ededed;
}

.pay{
	
	header{
		padding: 10px 0;
		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: 16%;
			border-radius: 50%;
		}
	}
	h4{
		margin-left: 10px;		

	}

	.container{
		padding: 0 20px;

		.input-warpper{
			height: 56px;
			border-radius: 8px;
			border: 1px solid #a19fa0;
			display: flex;
			align-items: center;
			justify-content: space-between;
			background: #fff;

			b{
				padding-left:10px;
				font-weight: normal;
				color:#999;
				font-size:14px;
			}

			.money{
				font-size: 24px;
				padding-right: 10px;
				&:before{
					content:'¥';
				}
				&:after{
					content:'|';
					color:#23a8ec;
					-webkit-animation: twinkling 1s infinite linear; 
				};
			}
		}

		.discount{
			text-align: right;
			line-height: 34px;

			b{
				color: #ee0815;
				font-weight: normal;
			}
		}

		.merchant{
			color: #818181;

			&:before{
				content:'*';
				color: red;
				font-size:20px;
				margin-right: 4px;
				position: relative;
				top:6px;
			}
		}

		.invoice{
			display: flex;
			margin-top: 10px;
			align-items: center;

			span{
				margin-right: 10px;
			}

			b{
				font-size: 12px;
				color: #ccc;
				font-weight: normal;
			}
		}

	}

	.company{
		background: #fff;
		border-top:1px solid #ccc;
		border-bottom:1px solid #ccc;
		height: 42px;
		display: flex;
		align-items: center;
		padding: 0 10px;
		margin-top: 4px
	}

	.keybord{
		width: 100%;
		background: #fff;
		border-collapse: collapse;
		position: fixed;
		bottom: 0;

		.submit{
			font-size: 22px;
			background: #a2dca2;
			padding: 0 20px;
			color: #fff;
		}

		td{
			width: 25%;
			text-align: center;
			height: 60px;
			font-size:28px;
			border-top:1px solid #ccc;
			border-left: 1px solid #ccc;
			
			&:first-child{
				border-left:0;
			}
		}
	}
}

 @-webkit-keyframes twinkling{
    0%{
       opacity:0;
     }
    100%{
       opacity:1;
    }
  }