@import "../../scss/_common";

#Hello .msg {
    color: #61dafb;
    font-size: torem(100);
}
#Hello .info {
    color: #61dafb;
}
a {
	color: #61dafb;
    font-size: torem(70);
}
a:hover{
	text-decoration: none;
}

.btn{
	display: block;
	border:0;
	height: torem(70);
	line-height: torem(70);
	width: 100%;
	color: #fff;
	font-size: 40px;
	background:#61dafb; 
	margin-top: torem(20);
}