@import "../../scss/_common";

#Hello .msg {
    color: #61dafb;
    font-size: torem(100);
}
#Hello .info {
    color: #61dafb;
}
a {
	color: #61dafb;
    font-size: torem(70);
}
a:hover{
	text-decoration: none;
}